.chat-channels-container {
    font-family: 'Arial', sans-serif;
    background: #fff;
    color: #333;
    border-right: 1px solid #ddd;
    /* height: 70vh; */
    /* width: 240px; */
    /* display: flex;
    flex-direction: column; */
  }
  
  
  .channels-list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
  }
  
  .channels-list li {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  
  .channels-list li:hover {
    background: #f7f7f7;
  }
  