/* ChatPage.css */
  .selected-channel {
    font-size: 1.5em;
    margin-bottom: 20px; 

  }
  
  .message {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; 
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .user-id {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .message-text {
    flex-grow: 1;
    text-align: left;
  }
  
  .new-message {
    display: flex;
    margin-top: 20px;
  }
  
  .new-message-input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-message {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  